<!-- Fixed header wrapper -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<div class="header-wrapper">
  <app-header></app-header>
</div>

<!-- Content container that scrolls -->
<div class="content-wrapper">
  <p-card
    *ngIf="selectedDevice"
    class="dialog-device-card"
  >
    <div class="card-content">
      <img
        [src]="selectedDevice.imageUrl"
        alt="{{ selectedDevice.name }}"
        class="device-image"
      />
      <div class="device-details">
        <h3>{{ selectedDevice.name }}</h3>
        <p><strong>Version:</strong> {{ selectedDevice.version }}</p>
        <p *ngIf="selectedDevice.expiryDate">
          <strong>Expiry Date:</strong> {{ selectedDevice.expiryDate | date:'longDate' }}
        </p>
        <p *ngIf="selectedDevice.manufacturer">
          <strong>Manufacturer:</strong> {{ selectedDevice.manufacturer }}
        </p>

        <p *ngIf="selectedDevice.deviceCategory">
          <strong>Device Category:</strong> {{ selectedDevice.deviceCategory }}
        </p>

        <p *ngIf="selectedDevice.lastUpdated">
          <strong>Last Updated:</strong> {{ selectedDevice.lastUpdated | date:'longDate' }}
        </p>
        <br/>
        <p *ngIf="selectedDevice.plannedUpdates?.updatesPlanned">
          <strong>Planned Updates:</strong> {{ selectedDevice.plannedUpdates.updatesPlanned }}
        </p>

          <p *ngIf="selectedDevice.endOfLifeAnnouncement">
          <strong>End Of Life Announcement:</strong>
          {{ selectedDevice.endOfLifeAnnouncement !== undefined ? (selectedDevice.endOfLifeAnnouncement ? 'Yes' : 'No') : 'N/A' }}
        </p>

        <p *ngIf="selectedDevice.endOfSalesDate">
          <strong>End Of Sales Date:</strong>
          {{ selectedDevice.endOfSalesDate }}
        </p>

        <p *ngIf="selectedDevice.plannedReleaseDate">
          <strong>Planned Release Date:</strong>
          {{ selectedDevice.plannedReleaseDate }}
        </p>

        <p *ngIf="selectedDevice.newVersionPlanned">
          <strong>New Version Planned:</strong>
          {{ selectedDevice.newVersionPlanned }}
        </p>

        <p *ngIf="selectedDevice.newSoftwareRelease">
          <strong>New Software Releases:</strong>
          {{ selectedDevice.newSoftwareRelease }}
        </p>

      </div>
    </div>
      <div>
        <app-dashboard [showHeader]="false" [dataFromParent]="dashboardData"></app-dashboard>
      </div>
  </p-card>
</div>
