<!-- Fixed header wrapper -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<div class="header-wrapper">
  <app-header></app-header>
</div>

<!-- Content container that scrolls -->
<div class="content-wrapper">
  <p-card
    *ngIf="selectedDevice"
    class="dialog-device-card"
  >
    <div class="card-content">
      <img
        [src]="selectedDevice.imageUrl"
        alt="{{ selectedDevice.name }}"
        class="device-image"
      />
      <div class="device-details">
        <h3>{{ selectedDevice.name }}</h3>
        <p><strong>Version:</strong> {{ selectedDevice.version }}</p>
        <p *ngIf="selectedDevice.expiryDate">
          <strong>Expiry Date:</strong> {{ selectedDevice.expiryDate | date:'longDate' }}
        </p>
        <p *ngIf="selectedDevice.manufacturer">
          <strong>Manufacturer:</strong> {{ selectedDevice.manufacturer }}
        </p>

        <p *ngIf="selectedDevice.deviceCategory">
          <strong>Device Category:</strong> {{ selectedDevice.deviceCategory }}
        </p>

        <p *ngIf="selectedDevice.lastUpdated">
          <strong>Last Updated:</strong> {{ selectedDevice.lastUpdated | date:'longDate' }}
        </p>
        <br/>
        <div *ngIf="selectedDevice.plannedUpdates?.updatesPlanned">
          <strong>Planned Updates:</strong>
          <p>{{ selectedDevice.plannedUpdates.details }}</p>
        </div>
      </div>
    </div>
      <div
        style="padding: 1.8rem; white-space: pre-wrap; margin-top: 1rem;">
        <app-dashboard [showHeader]="false" [dataFromParent]="dashboardData"></app-dashboard>
      </div>
  </p-card>
</div>
