<app-header *ngIf="showHeader"></app-header>

<div class="dashboard-content" style="padding:1rem;">

  <h1 class="page-heading">Hardware Obsolescence News</h1>

<div *ngIf="loading" class="loader-overlay">
  <i class="pi pi-spin pi-spinner loader-icon"></i>
</div>

<div class="search-refresh-container">
  <div class="search-wrapper">
    <i class="pi pi-search search-icon"></i>
    <input
      pInputText
      type="text"
      placeholder="Search..."
      (input)="onGlobalFilter($event)"
      class="search-input"
    />
  </div>

  <button
  pButton
  type="button"
  class="p-button-outlined p-button-secondary"
  (click)="refreshTable()"
>
  <i class="pi pi-refresh"></i> Refresh
</button>
</div>

  <p-table
    #table
    class="custom-enhanced-table"
    [value]="data"
    dataKey="id"
    [expandedRowKeys]="expandedRows"
    (onRowToggle)="onRowToggle($event)"
    [responsiveLayout]="'scroll'"
    [paginator]="true"
    [rows]="7"
    [rowsPerPageOptions]="[7, 10, 20]"
    [globalFilterFields]="['hardwareName', 'topic', 'title']"
  >
    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem;"></th>
        <th pSortableColumn="hardwareName">
          Hardware Name
          <p-sortIcon field="hardwareName"></p-sortIcon>
        </th>
        <th pSortableColumn="topic">
          Topic
          <p-sortIcon field="topic"></p-sortIcon>
        </th>
        <th pSortableColumn="title">
          Title
          <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="source">
          Source
          <p-sortIcon field="source"></p-sortIcon>
        </th>
        <th pSortableColumn="publishedAt">
          Published Date
          <p-sortIcon field="publishedAt"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-item>
      <tr [ngClass]="getFetchedAtRowClass(item)">
        <td>
          <button
            pButton
            type="button"
            class="p-button-text p-button-plain"
            (click)="toggleRow(item.id)"
            aria-label="Toggle expand"
          >
            <i
              class="pi"
              [ngClass]="
                expandedRows[item.id] ? 'pi-chevron-down' : 'pi-chevron-right'
              "
            ></i>
          </button>
        </td>
        <td>{{ item.hardwareName }}</td>
        <td>{{ item.topic }}</td>
        <td><strong>{{ item.title }}</strong></td>
        <td> {{item.source}} </td>
        <td>{{ item.publishedAt | date: 'short' }}</td>
      </tr>
    </ng-template>

    <!-- Row Expansion -->
    <ng-template pTemplate="rowexpansion" let-item>
      <tr>
        <td colspan="7">
          <p-card
            header="{{ item.title }}"
            subheader="{{ item.topic }}"
            class = "full-width-card"
          >
            <ng-template pTemplate="content">
              <div class="p-grid p-nogutter p-align-start">
                <strong>Content :</strong>
                <p>{{ item.summary }}</p>

                <strong>Fetched At : </strong> {{ item.fetchedAt | date: 'medium' }}
                <br />
                <br/>
                <div class="relevance-section">

                  <button
                    pButton
                    type="button"
                    label="Get More Info."
                    class="p-button-sm p-button-primary firmware-button"
                    (click)="openFirmwareLink(item.link)"
                    [disabled]="!item.link"
                  ></button>
                </div>
              </div>
            </ng-template>
          </p-card>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
